registry = https://nexus.krugernetes.com/repository/npm-internal/
email=admin@ec.krugercorp.com
always-auth=true
_auth=YWRtaW46UGFzc3dvcmQwMQ==
registry=https://registry.npmjs.org/
@ec.com.smx:registry=https://nexus.krugernetes.com/repository/npm-internal/
